
@using BTL_BookShop.Models.Entities;
@model IEnumerable<Book>

@foreach (var item in Model)
{

    <div class="product-wrapper">
        <div class="product-img">
            <a href="#">
                <img src=@item.Image alt="book" class="primary" />
            </a>
            <div class="quick-view">
                <a class="action-view" href="#" data-target="#productModal" data-toggle="modal" title="Quick View">
                    <i class="fa fa-search-plus"></i>
                </a>
            </div>
            <div class="product-flag">
                <ul>
                    <li><span class="discount-percentage">-5%</span></li>
                </ul>
            </div>
        </div>
        <div class="product-details text-center">
            <div class="product-rating">
                <ul>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                </ul>
            </div>
            <h4><a href="#">@item.Name</a></h4>
            <div class="product-price">
                <ul>
                    <li>@item.PromotionPrice</li>
                    <li class="old-price">@item.Price</li>
                </ul>
            </div>
        </div>
        <div class="product-link">
            <div class="product-button" data-toggle="modal" data-book-id=@item.ID>
                <a href="#" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
            </div>
            <div class="add-to-link">
                <ul>
                    <li><a href="product-details.html" title="Details"><i class="fa fa-external-link"></i></a></li>
                </ul>
            </div>
        </div>
    </div>


}


