@{ 
    // Layout trên cùng chứa đăng ký đăng xuất
}
<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="account-area text-right">
                    <ul>
                        <li><a href="register.html">Đăng ký</a></li>
                        <li><a href="checkout.html">Đăng xuất</a></li>
                        <li><a href="/Home/Login/" >Đăng nhập</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
