@{
    // Layout trên cùng chứa đăng ký đăng xuất
}
@model List<BTL_BookShop.Common.ItemTopMenu>

<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="account-area text-right">
                    <ul>
                        @foreach (BTL_BookShop.Common.ItemTopMenu item in Model)
                        {
                            <li><a href="@item.Link">@item.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>